{% extends 'layout.html' %}

{% block body %}
 
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi amet suscipit ratione dolorem possimus doloremque minus. At repellat voluptate ut earum tempore iusto assumenda corporis consectetur. Consectetur unde minima ab?
  Ut dolorem maiores neque perspiciatis totam nihil reprehenderit, delectus corporis distinctio ipsum in odio magni nostrum, nesciunt nulla fugiat ex explicabo quam est. Unde, libero quisquam odio modi molestiae nulla!
  Dolorem ea repellendus quod velit doloremque, aliquid nihil esse animi molestiae alias tempore ullam nulla labore distinctio officia corporis. Exercitationem velit pariatur voluptas minus id porro consequatur ex sit maxime.
  Voluptates rerum odio sunt beatae culpa perferendis repellendus! Voluptas quos ipsum, iste nam dignissimos itaque? Dolorem sint eligendi corporis architecto eos officiis repudiandae rerum nemo. Sit voluptatibus molestias adipisci tenetur.
  Cumque nam quidem asperiores corrupti in debitis reiciendis nisi magni. Nesciunt nisi aliquid itaque harum hic porro consequuntur vero numquam temporibus facilis et maxime ipsum, illo expedita perspiciatis dolore? Maiores?</p>
{% endblock %}
